[Unit]
Description=Internet Speed Monitor
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/internet-speed
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
